.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-color{
    color: #0D1321;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-title{
    font-weight: 800;
    font-size: 28px; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-button{
    width: 244px;
    height: 57px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 38px;
    margin-bottom: 38px;
}
nav button a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20;
}
.banner{
    max-width: 1440px;
    max-height: 652px;
    margin: 0 auto;
    background-image: url('../B10A1-Challenge-Begins/assets/Hero-bg.png');
}
.banner-content{
    padding: 26px 221px 45px 221px;
    text-align: center;   
}

.banner-title{
    font-weight: 800;
    font-size: 48px;
   
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
   
}
.banner-btn{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background-color: #0D1321;
   
}
.contact{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

/* main */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.container-title{
    max-width: 946px;
    max-height: 336px;
    margin: 97px;

}
.web-title{
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin: 80px 144px 20px;
}
.web-description{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.row{
    max-width: 946px;
    max-height: 336px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 108px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}
.row-title{
    font-weight: 700;
    font-size: 24px;
    color: #3D414B;
}
.row-box{
    width: 449px;
    height: 136px;
    
}
.row-description{
    font-weight: 400;
    font-size: 16px;
}

.row-button{
    width: 180px;
    height: 40px;
}
.button-text{
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;
    text-decoration: none;
}
.row1-img{
    padding-left: 48px;
}

}
.my-inspiration{
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}
.ins-title{
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 24px;
}
.ins-description{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}

iframe{
    border-radius: 16px;
}

.target-title{
    font-style: 800;
    font-size: 32px;
    text-align: center;
    margin: 134px 144px 24px 144px;
}
.target-description{
    font-style: 400;
    font-size: 16px;
    text-align: center;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}
.skill-container{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px;
    gap: 24px;
}
.target-skill{
    padding: 40px;
    background-color: #EBEBEB;
}
.skill-title{
    font-style: 800;
    font-size: 24px;
}
.skill-description{
    font-style: 400;
    font-size: 16px;
}
.skill-btn{
    font-style: 600;
    font-size: 16px;
    width: 284px;
    height: 19px;
    border: none;
    background-color: #EBEBEB;
    text-align: left;
}
.container-handshake{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    border-radius: 16px;
    background-image:  url('../B10A1-Challenge-Begins/assets/handshake.jpg');

}
.support{
    padding: 64px 48px;
}
.hand-title{
    font-weight: 600;
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}
.hand-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.input-field{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 64px;
}
.field{
    width: 548px;
    height: 57px;
    border-radius: 8px;
    color: #FFFFFF;
    text-align: center;
}
.field-submit{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    color: #0D1321;
    text-align: center;
}
.container-footer{
    max-width: 1440px;
    max-height: 100px;
    margin: 80px auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 32px 150px;
    align-items: center;
}
.footer-title{
    font-weight: 600;
    font-size: 20px;
    
}

